html,
body {
	font-family: monospace;
	box-sizing: border-box;
	background: CornflowerBlue;
	font-size: 62.5%;
}
.main-container {
	width: 600px;
	margin: 0 auto;
	h2 {
		font-size: 4rem;
	}

	p {
		font-size: 1.7rem;
	}
}
#main {
	width: 600px;
	height: 600px;
	margin: 10px auto 20px;
	background: #70919c;
	border-right: 1px solid black;
	border-top: 1px solid black;
	-webkit-box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.75);
	box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.75);
	.row {
		height: 12px;
		width: 100%;
	}
	.cell {
		box-sizing: border-box;
		width: 6px;
		height: 6px;
		border-left: 1px solid black;
		border-bottom: 1px solid black;
		float: left;
	}

	.active {
		background: #194855;
	}
}
